<p id="notice"><%= notice %></p>



<p>
  <strong>Nombre:</strong>
  <%= @contacto.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contacto.email %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @contacto.imagen %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contacto.phone %>
</p>


<div class="row">
 <div class="col s12">
   <%= link_to 'Editar',  edit_contacto_path(@contacto), class: 'waves-effect waves-light btn', style: 'color: white' %>
 </div>
</div><div class="row">
 <div class="col s12">
   <%= link_to 'Atras', contactos_path, class: 'waves-effect waves-light btn', style: 'color: white' %>
 </div>
</div>
