<!DOCTYPE html>
<html>
  <head>
    <title>Examen2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

 <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"        	media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

<% if !current_contact %>
 <%= link_to "Iniciar Sesion", "/contacts/sign_in" %>
 <% else %>
 Bienvenido <%= current_contact.email %>
 <%= link_to destroy_contact_session_path, :method => :delete  do %>Cerrar Sesion<%end%>
 <%end%>

  <body>
    <div class ="container">
  <%= yield %>
  </div>

  <!--Import jQuery before materialize.js-->
     <script type="text/javascript" src="js/jquery-3.1.1.slim.min"></script>
     <script type="text/javascript" src="/js/materialize.min.js"></script>
  </body>
</html>
